<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INTERNET"/>
    <application
        android:networkSecurityConfig="@xml/net"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logoapp"
        android:label="AsisSmart"
        android:roundIcon="@mipmap/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaseLista"
        tools:targetApi="31">
        <activity
            android:name=".confsalir"
            android:exported="false" />
        <activity
            android:name=".ventanaguardarExito"
            android:exported="false" />
        <activity
            android:name=".recuperacontra"
            android:exported="false" />
        <activity
            android:name=".splashventana"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false"
            android:label="AsisSmart"
            android:theme="@style/Theme.PaseLista.NoActionBar" />
    </application>

</manifest>